<h2>sign up</h2>

<form action="<%= users_url %>" method="POST">

<label>
email address
    <input type="text" name="user[email_address]"/>
</label>

password
<label>
    <input type="password" name="user[password]"/>
</label>

<button>
    sign up
</button>

</form>